/* Enveloppe du fichier index */
.container {
  padding: 8px;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: #232323;
  margin: 5px;
}

@font-face {
  font-family: "Raleway";
  src: url("../police/raleway/Raleway-Regular.ttf") format("truetype"),
       url("../police/raleway/Raleway-Bold.ttf") format("truetype")
}
/* Header */
.nav_logo {
  position: absolute;
  height: 65px;
  left: 15px;
}
/* top right */
.nav_selection a {
  display: flex;
  float: right;
  border-top: solid;
  border-color: rgba(255, 255, 255, 0.5);
  color:black;
  padding: 35px;
  justify-content: right;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  font-weight: 700;
}
/* Links - change color on hover */
.nav_selection a:hover {
  border-color:#0065FC;
  color:#0065FC;
 }

.nav_selection a.active {
  background-color: #000000;
  color: black;
  order:0;
}

.act a {
	display: flex;
	order:2;
 /* .heb { order 1; } .act { order 2; } .insc { order 0; } */
}

.heb a .active {
	display: flex;
	order:1;
  align-items: stretch;
  order:1;
}
/* Search button */
.search_form {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  display: flex;
  align-content: flex-start;
  vertical-align:-16%;
  border-radius: 12px;
  height: 54px;
}

.search_form .group_input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.search_form #fa-map-marker{
  vertical-align: bottom;
  display: inline-flex;
  width: 38px;
  justify-content: center;
  align-items: center;
  height: 56px;
  left: -3px;
}

.search_form .group_input span {
  background-color: #F2F2F2;
  color: black;
  height: 52px;
  padding: 0 16px;
  line-height: 37px;
  border-radius: 12px 0 0 12px;
  align-content: stretch;
}

.search_form .group_input input {
  height: 100%;
  border-radius: 0;
  padding-left: 5px;
  border: 1px solid #F2F2F2;
  font-weight: 600;
}

.search_form .group_input input::placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-left: 35px;
  align-items: center;
}

.search_form .group_input #search_button .searchText {
  background-color:#0065FC;
  color: white;
}

.search_form .group_input #search_button {
  height: 100%;
  border: none;
  background-color: #0065FC;
  color: #fff;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.search_form .group_input #search_button:hover {
  transform: translateY(-1px);
  box-shadow: 1px 1px 1px 1px #F2F2F2;
}
/* Header filter */
.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.filters .filter_name {
  font-size: 16px;
  color: #000;
}

.filters .filter_item {
  line-height: 35px;
  border: 2px solid #F2F2F2;
  margin: 8px 15px 0;
  height: 38px;
  position: relative;
  border-radius: 39px;
  padding-right: 8px;
  padding-left: 47px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold; 
  cursor: pointer;
}

.filters .filter_item:hover {
  background-color: #9fbff0;
  color: #fff;
  border: 2px solid #DEEBFF;
  transform: translateY(-1px);
  box-shadow: 1px 1px 1px 1px #DEEBFF;
}

.filters .filter_item span {
  display: inline-flex;
  height: 38px;
  width: 38px;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 8px;
  position: absolute;
  left: -3px;
}
/* Footer */
footer {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px; 
}
footer h2 {
  font-weight: bold;
  font-size: 18px;	 
}

footer .footer_section a, ul {
  list-style-type: none;
  margin-top: 15px;
  margin: 0;
  padding: 0; 
  color: black; 
  text-decoration: none;
  font-size: 18px; 
  line-height: 140%;
}
/*------------------------------------- Hébergements et activités de la page2 Marseille----------------------------------------------*/
.info1 img {
  vertical-align:-16%;
  padding-top: 10px;
  width: 25px;
  line-height: 36px;
  align-self: start;
}
/* Les plus populaires (aside) */
aside {
  order: 2;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 12px;
}

aside .populaire_list {
  width: 100%;
  flex-basis: 0;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
}

aside .card_populaire {
  display: flex;
  padding: 5px;
  background-color: #fff;
  border-radius: 15px;
  width: 95%;
  margin: 15px;
}

aside .card_populaire:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3px 2px #F2F2F2;
}

aside .card_populaire .card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  border-radius: 15px;
  padding: 25px;
}

aside .card_populaire .card_body h3 {
  font-size: 16px;
  margin-top: -5px;
  text-align: left;
}

aside .card_populaire .card_body .name {
  align-self: stretch;
  padding: 6px;
}

aside .card_populaire .card_body .notation {
  align-self: stretch;
}

aside .card_populaire .card_image {
  height: 12em;
  width: 54%;
  overflow: hidden;
}

aside .card_populaire .card_image img {
  height: 100%;
  width: 100%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  object-position: center;
}
/* Hébergement */
main .heberg {
  display: flex;
  justify-content: stretch;
  margin-bottom: 30px;
}

.hebergement_list {
  flex-basis: 70%;
  padding: 15px;
  margin: 0 15px 0 0;
  border-radius: 15px;
  background-color: #F2F2F2;
  order: 1;
  flex-grow: 1;
}

.heberg .card_title .name h3 {
  font-size: 50px;
  text-align: left;
}

.heberg_list_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.heberg_list_group .card_hebergement {
  flex-basis: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card_hebergement:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3px 2px #F2F2F2;
}

.card_hebergement .image {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.card_hebergement .image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
}

.card_hebergement .card_body {
  margin-left: 10px;
}

.card_hebergement .card_body .card_title {
  font-size: 16px;
  margin: 5px 0;
}

.card_hebergement .card_body .card_text {
  font-size: 0.9em;
}

.hebergement_list .afficher h4 {
  color: #000;
  display: block;
  flex-basis: 100%;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.hebergement_list .afficher:hover {
  transform: scale(1);
}

.notation i {
  color: #0065FC;
  font-size: 13px;
}

.notation span {
  color: #BDBDBD;
  font-size: 13px;
}
/* Activités */
.activites_list, #activites {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 20px;
  margin-bottom: 40px;
}

.activites_list h2 {
  width: 100%;
  margin: 15px 15px 30px 0;
}

.activites_loisir {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; 
  height: 400px;
}

.activites_loisir .activite {
  width: 22%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-size: contain;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #F2F2F2;
}

.activites_loisir .activite .image {
  flex: 1;
  border-radius: 8px 8px 0 0;
}

.activites_loisir .activite h3 {
  font-size: 14px;
  margin: 15px;
}

.activites_loisir .activite2 {
  flex-basis: 50%;
}

.activites_loisir .activite3 {
  flex-basis: 45%;
}

.activites_loisir .activite5 {
  flex-basis: 45%;
}

.activites_loisir .activite6 {
  flex-basis: 45%;
}

.activites_loisir .activite1 .image {
  background-image: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size:cover;
  background-position: center;
}

.activites_loisir .activite2 .image {
  background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activites_loisir .activite3 .image {
  background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activites_loisir .activite4 .image {
  background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activites_loisir .activite5 .image {
  background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activites_loisir .activite6 .image {
  background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
/* ****************************** smartphone, tablet and screen until 1024px ****************************** */
@media all and (max-width: 1024px) {

.navbar {
  display: flex;
}
 
.nav_logo {
  position: absolute;
  left:0;
}

.inscription {
  right: 0;
  top: 0;
  font-weight: 700;
  margin-right: 0;
}

.nav_hebact a{
  display:flex;
  flex-direction: row;
  justify-content: stretch;
  align-items:stretch;
}


} /* FIN smartphone, tablet and screen until 1024px */

/* ****************************** smartphone only ****************************** */
@media (max-width: 766px) {

h1 {
  text-align: center;
  padding-top: 25px;
}

h3 {
  text-align: center;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  height: 170px;
}

.nav_logo {
  position: absolute;
  display: block;
  height: 60px;
  left: 15px;
  top: 15px;
}

nav .nav_selection .inscription {
  position: relative;
  right: 0px;
  width: auto;
  display: flex;
  justify-content: right;
  align-self: flex-end;
  top:0;
  padding: 0;
  margin:0;
}

nav .nav_selection .act .heb{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-shrink: 0;
}

nav .nav_selection .nav_hebact a {
  width: auto;
  height: 50px;
}

.nav_selection a {
  border-top-color: none;
  display: flex;
  border-bottom: solid;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
}
/* Links - change color on hover */
.nav_selection a:hover {
  border-bottom-color:#0065FC;
  color:black;
 }

.nav_selection a.active {
  background-color: #000000;
  color: black;
  order:0;
}

.container {
  background-position: center;
  padding: 0;
}

.search_form {
 justify-content: center;
}

.search_form .group_input #search_button .fa-search {
    display: block;
  }

.search_form .group_input #search_button .searchText{
    display: none;
  }

.search_form .group_input #search_button {
  border-radius: 10px;
  width: 65px;
}

.search_form #fa-map-marker{ 
  width: 30px;
}

.filters .filter_name {
  flex-basis: 100%;
  text-align: left;
  margin-left: 15px;
}

header {
  width: 100%;
  padding: 0;
 }
 
header .header .search_form, .header .filters, .header .info {
  padding: 0 8px;
  background-position: center;
}

.info1{
  margin-left: 15px;
}

.heberg {
  flex-direction: column;
  justify-content: space-between;
}

.hebergement_list h2{
  margin-left: 10px;
}

.heberg .hebergement_list {
  margin-top: 20px;
  order: 2;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.heberg_list_group {
  flex-direction: column;
}

.card_hebergement {
  width: 95%;
  box-shadow: 0 0 6px 3px rgba(180, 178, 178, 0.274);
  border-radius: 15px;
}

.heberg .hebergement_list .heberg_list_group .card_hebergement .image {
  width: 100%;
  height: 16rem; 
}

.heberg .hebergement_list .heberg_list_group .card_hebergement .image img {
  height: 100%;
}

.heberg .hebergement_list .afficher {
  width: 90%;
  text-decoration: none;
  padding-left: 15px;
}

aside {
  order: 1;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0;
  padding: 0;
}

aside .populaire_list {
  width: 90%; 
}

aside h2 #populaire {
  justify-content: flex-start;
}

.activites_list {
  justify-content: center;
  align-items:center;
}

.activites_list h2 {
  width: 90%;
}

.activites_list .activites_loisir {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0; 
  align-items:center;
  height: 96rem;
}
  
.activites_list .activites_loisir .activite {
  flex-basis: 12rem;
  width: 95%; 
  margin-top: 15px;
}

.activites_list .activites_loisir .activite img {
  height: 30rem;
  width: 100%;
}

.activite1, .activite2, .activite3, .activite4, .activite5, .activite6 {
  flex: 1;
}

footer {
  flex-direction: column;
  padding-bottom: 0;
}

.footer_section {
  margin-bottom: 30px;
}

} /* FIN smartphone only */

/* ****************************** Tablet ****************************** */
@media (min-width: 766px) and (max-width: 1200px) {
 
body{
  overflow-x:hidden;
}

.container {
  width: 100%;
  padding: 0 16px;
}

.heberg {
  flex-direction: column;
  width: 100%;
}

.heberg .hebergement_list {
  flex-basis: 100%;
  margin-right: 0;
  margin-top: 20px;
  order: 2;
}

aside h2.populaire_list {
  flex-basis: 100%;
}

aside {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  flex-basis: 100%;
  order: 1;
}

aside .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  padding: 0 8px;
}

aside .card_populaire {
  width: 32%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px; 
  margin: 0 0 20px 0 ; 
}

aside .card_populaire .card_image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

aside .card_populaire .card_body {
  width: 100%;
  flex-basis: 100px;
}

aside .card_populaire .card_body div .card_populaire_title {
  font-size: 17px;
  margin: 5px 0;
  width: 100%;
}

} /* FIN tablet */

/* Défilement */
.fab-container{
  position:fixed;
  bottom:50px;
  right:50px;
  cursor:pointer;
  z-index: 1;
  }

  .iconbutton{
    width:50px;
    height:50px;
    border-radius: 100%;
    background: #000000;
    box-shadow: 10px 10px 5px #aaaaaa;
    }

  .iconbutton i{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    color:white;
  }