*{box-sizing: border-box;}

#Bloc_page_flexbox {
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  width: 800px;
  margin: auto;
 align-content: space-around;
 justify-content: right;
}
/* exempl for class*/
.element
{
    margin: auto;
}

body {
   font-family: "Raleway", Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    color: #232323;
    margin: 5px;
}
 
@font-face {
  font-family: "Raleway";
  src: url("../police/raleway/Raleway-Regular.ttf") format("truetype"),
  url("../police/raleway/Raleway-Bold.ttf") format("truetype")
}
/* HEADER */
.navbar__logo {
	position: absolute;
	display: block;
    height: 65px;
    left: 15px;
}

h1, h2 {
	padding: 8px;
}

#title__page {
	align-items: stretch;
	padding: 0;
}
/*topnav top right*/
.topnav a {
  display: flex;
  float: right;
  border-top: solid;
  border-color: #0065FC;
  color: #0065FC;
  padding: 35px;
  justify-content: stretch;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
}
/* Links - change color on hover */
.topnav a:hover {
 border-color: black;
 color:black;
 }

.topnav a.active {
  background-color: #000000;
  color: black;
}
.act a {
	display: flex;
	order:2;
 /*.heb { order 1; } .act { order 2; }.insc { order 0; }*/
}
.heb a {
	display: flex;
	order:1;
	align-items: stretch;
}
/*SEARCH BUTTON*/
.search {
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-start;
}

.search .group__input {
        justify-content: center;
        align-items: center;
        color: blue;
}

.search .group__input span {
          display: inline-block;
          background-color: #F2F2F2;
          height: 36px;
          padding: 0 10px;
          line-height: 36px;
          border-radius: 8px 0 0 8px;
}

.search .group__input input {
    height: 100%;
    border-radius: 0;
    padding-left: 5px;
    border: 1px solid #F2F2F2;
    font-weight: 600;
}

.search .group__input input::placeholder {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.search .group__input button {
    height: 100%;
    border: none;
    background-color: #0065FC;
    color: #fff;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.search .group__input button:hover {
    transform: translateY(-1px);
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}
/* HEADER FILTERS*/
.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.filters .filters__name {
    font-size: 16px;
    color: #000;
}
  
.filters .filters__item {
    line-height: 35px;
    border: 2px solid #F2F2F2;
    margin: 8px 15px 0;
    height: 38px;
    position: relative;
    border-radius: 39px;
    padding-right: 8px;
    padding-left: 47px;
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold; 
    cursor: pointer;
}

.filters .filters__item:hover {
    background-color:  #0065FC;
    color: #fff;
    border: 2px solid #DEEBFF;
    transform: translateY(-1px);
    box-shadow: 1px 1px 1px 1px #DEEBFF;
}

.filters .filters__item span {
    display: inline-flex;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-right: 8px;
    position: absolute;
    left: -3px;
}

.info p span{
    margin-bottom: 20px;
    font-size: 20px;
    display: inline-block;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    border: 1px solid #F2F2F2;
    text-align: center;
    font-weight: 700;
    color: #0065FC;
    margin-right: 3px;
  
}/*HEADER END*/
/* MAIN  */ /* LES PLUS POPULAIRES ASIDE*/
   aside {
    order: 2;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 15px;
}

   aside .title {
    width: 100%;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;   
}

   aside .card__populaire {
    display: flex;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    width: 90%;
    margin: 15px;
}

   aside .card__populaire:hover {
    transform: scale(1.01);
    box-shadow: 0 0 3px 2px #F2F2F2;
}

   aside .card__populaire .card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
}

   aside .card__populaire .card__body h3 {
    font-size: 16px;
    margin-top: -5px;
}

   aside .card__populaire .card__body .notation {
    align-self: stretch;
}

   aside .card__populaire .card__image {
    height: 10em;
    width: 45%;
    overflow: hidden;    
}

   aside .card__populaire .card__image img {
    height: 100%;
    width: 100%;
    border-radius: 8px 0 0 8px;  
    object-fit: cover;
    object-position: center;
}
/* HEBERGEMENT A MARSEILLE */
main .heberg  {
    display: flex;
    justify-content: stretch;
    margin-bottom: 30px;
}

.hebergement__list {
    flex-basis: 70%;
    padding: 15px;
    margin: 0 15px 0 0;
    border-radius: 8px;
    background-color: #F2F2F2;
    order: 1;
    flex-grow: 1;
}

.heberg .card__title h3 {
  font-size: 50px;
}

.heberg__list__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.heberg__list__group .card__hebergement {
  flex-basis: 30%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card__hebergement:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3px 2px #F2F2F2;
}

.card__hebergement .image {
  width: 100%;
  height: 14rem;
  overflow: hidden;
  border-radius: 8px 8px 0 0;  
}

.card__hebergement .image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
}

.card__hebergement .card__body {
  margin-left: 10px;
}

.card__hebergement .card__body .card__title {
  font-size: 16px;
  margin: 5px 0;
}

.card__hebergement .card__body .card__text {
  font-size: .9em;
}

.hebergement__list .afficher {
  display: block;
  flex-basis: 100%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.hebergement__list .afficher:hover {
      transform: scale(1);
}
/* FOR ALL HEBERGEMENT CARDS */
.notation i {
    color: #0065FC;
    font-size: 13px;
}

.notation span {
    color: #BDBDBD;
    font-size: 13px;
}
/* ACTIVITES A MARSEILLE*/
.activites__list #act{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    padding: 30px 0;
    border-radius: 8px;
    margin-bottom: 50px;
}

.activites__list h2 {
    width: 100%;
    margin: 15px 15px 30px 0;
}

.activites__loisir {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%; 
    height: 400px;
}

.activites__loisir .activite {
    width: 23%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-size: contain;
    border-radius: 15px;
    box-shadow: 0 0 6px 3px #F2F2F2;
}

.activites__loisir .activite .image {
    flex: 1;
    border-radius: 8px 8px 0 0;
}

.activites__loisir  .activite h3 {
    font-size: 14px;
    margin: 15px;
}

.activites__loisir  .activite2 {
    flex-basis: 60%;
}

.activites__loisir  .activite3 {
    flex-basis: 40%;
}

.activites__loisir  .activite5 {
    flex-basis: 45%;
}

.activites__loisir  .activite6 {
    flex-basis: 45%;
}

.activites__loisir  .activite1 .image {
    background-image: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size:cover;
    background-position: center;
}

.activites__loisir .activite2 .image {
    background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activites__loisir .activite3 .image {
    background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activites__loisir .activite4 .image {
    background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activites__loisir .activite5 .image {
    background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activites__loisir .activite6 .image {
    background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
/* FOOTER */
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px; 
}
footer h2{
    font-weight: bold;
    font-size: 18px;	 
}

footer .footer__section a, ul {
    list-style-type: none;
    margin-top: 15px;
    margin: 0;
    padding: 0; 
    color: black; 
    text-decoration: none;
    font-size: 18px; 
    line-height: 140%;
}
/* MOBILES tablettes et écrans jusqu'à 1024px*/
@media all and (max-width: 1024px) {
  section {
      display: block;
      width: auto;
  }

 .navbar {
    display: flex;
    float: left;
}
  .navbar__logo  {
  	position: absolute;
  	left:0;
}
  #conteneur {
    padding: 8px;
}

  #Bloc_page_flexbox {
    display: flex;
    width: auto;
}
  #inscription {
    right: 0;
    top: 0;  
    font-weight: 700;
    margin-right: 0;
}
 .hebact a{
  	display:flex;
  	flex-direction: row;
  	justify-content: stretch;
  	align-items:stretch;
  }
}
/* MOBILES seuls */  
@media (max-width: 766px) {

  .navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
 }

  .container {
    padding: 0;
 }
  
  .filters .filters__name {
      flex-basis: 100%;
 }
/* HEADER */
  header {
    width: 100%;
    padding: 0;
 }

  header #title__page, .header .search, .header .filters, .header .info {
    padding: 0 8px;
 }

  nav {
    position: relative;
    height: 160px;
  }

 .navbar__logo {
    position: absolute;
    display: block;
    height: 60px;
    left: 15px;
    top: 15px;
  }

  nav .topnav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
  }

  nav .topnav .inscription {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  nav .topnav .inscription {
    align-self: flex-end;
    margin-right: 30px;
  }

  nav .topnav .heb .act {
    display: flex;
    justify-content: space-between;
  }

 nav .topnav .hebact a {
    margin-right: 15px;
    width: 50%;
    height: 50px;
  }

 nav .topnav .hebact a .heb {
      font-weight: 700;
      border-top: none;
      border-bottom: 3px solid #0065FC;
  }
/* MAIN */  
 main .heberg {
      flex-direction: column;
      justify-content: space-between;
  }

  main .heberg .hebergement__list {
      margin-top: 20px;
      order: 2;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #fff;
  }

  .heberg__list__group {
      flex-direction: column;
  }

 .card__hebergement {
      width: 85%;
      box-shadow: 0 0 6px 3px rgba(180, 178, 178, 0.274);
      border-radius: 15px;
  }

  main .heberg .hebergement__list .heberg__list__group .card__hebergement .image {
      width: 100%;
      height: 12rem; 
  }

 main .heberg .hebergement__list .heberg__list__group .card__hebergement .image img {
      height: 100%;
  }

 main .heberg .hebergement__list .afficher {
      width: 90%;
      padding-left: 15px;
  }
/* ASIDE*/
 aside {
      order: 1;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 0;
      padding: 0;
  }

  aside .title {
      width: 90%; 
  }
/* Activites*/  
  .activites__list {
      justify-content: center;
      align-items:center;
  }

  .activites__list h2 {
      width: 90%;
  }

  .activites__list .activites__loisir {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      padding: 0; 
      height: auto;
      align-items:center;
      height: 73rem;
  }
  
  .activites__list .activites__loisir .activite {
      flex-basis: 12rem;
      width: 90%; 
      margin-top: 15px;
  }

  .activite1, .activite2, .activite3, .activite4, .activite5, .activite6 {
      flex: 1;
  }
/*FOOTER*/
  footer {
      flex-direction: column;
      padding-bottom: 0;
  }

  .footer__section {
      margin-bottom: 30px;
  }

}
/* TABLETTES */  
@media (min-width: 766px) and (max-width: 1200px) {
 .container {
    width: 100%;
    padding: 0 16px;
 }
/* HEBERGEMENTS */
 .heberg {
    flex-direction: column;
    width: 100%;
 }

 .heberg .hebergement__list {
    flex-basis: 100%;
    margin-right: 0;
    margin-top: 20px;
    order: 2;
 }
/* ASIDE */
 aside h2.title {
    flex-basis: 100%;
 }

 aside {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    flex-basis: 100%;
    order: 1;
  }

 aside .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding:  0 8px;
  }

 aside .card__populaire {
    width: 31%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px; 
    margin: 0 0 20px 0 ; 
  }

 aside .card__populaire .card__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
  }

 aside .card__populaire .card__body {
    width: 100%;
    flex-basis: 100px;
  }

 aside .card__populaire .card__body div .card__populaire__title {
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
 }
}
